<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Inventory System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/Login.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='Pictures/phonIX.png') }}" type="image/png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
    <script src="{{ url_for('static', filename='JS/Login_validation.js') }}"></script>
</head>
<body>
    <div class="login-container">
        <img src="{{ url_for('static', filename='Pictures/phonIX.png') }}" alt="PhonIX Logo" class="logo"> 
        <h1>Welcome to phonIX</h1>
        <p>Please log in to access your account and manage your inventory efficiently.</p>
        {% if msg %}
        <p class="error-message" style="color: rgba(246, 51, 57, 0.96); text-align: center;">{{ msg }}</p>
        {% endif %}
        <form action="" method="post">
            <div class="input-container">
            <span class="material-symbols-outlined">person</span>
            <input type="text" name="username" placeholder="Username">
            </div>
            <div class="input-container">
                <span class="material-symbols-outlined">lock</span>
                <input type="password" name="password" placeholder="Password" id="password">
                <span class="material-symbols-outlined toggle-password">visibility</span>
            </div>
            <button type="submit">Log in</button>
        </form>
        <a href="{{ url_for('forgot_password') }}" class="forgot-password">Forgot password?</a>
        <hr>
        <a href="{{ url_for('signup') }}" class="create-account">Create new account</a>
    </div>
</body>
</html>
